  <nav class="navbar navbar-default" style="margin-bottom:  0px;"> 
    <div class="container-fluid"> 
      <div class="navbar-header"> 
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
        <a href="#" class="navbar-brand">
          <p><img alt="Brand" src="assets/images/book.png" style="width: 32px; height: 32px;">
            &nbsp;&nbsp;
            <span>Arunai Rhamanaa</span></p>
        </a> 
      </div> 
      <div class="collapse navbar-collapse pull-right" id="sp-header-1"> 
        <ul class="nav navbar-nav">
          <li class="">
            <a>
              <span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;
              GET BROCHURE
            </a>
          </li>
        </ul>
      </div> 
    </div> 
  </nav>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default" id="sp-nav-menu" style="margin-bottom:  0px;">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
           <li><a routerLink="/academics">Academics</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academics <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Pre School</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="pull-right" id="social-links">
          <li><a><img src="assets/images/icons/facebook.png"></a></li>
          <li><a><img src="assets/images/icons/twitter.png"></a></li>
          <li><a><img src="assets/images/icons/youtube.png"></a></li>
        </ul>
      </div><!--/.nav-collapse -->
  </nav>