<div class="row">
	<h3>
		Our Young Pre classroom is for ages. we take of studends and inculcate best human quality to them
	</h3>
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-12 col-md-6">
			<h4>
				Faculty
			</h4>
			<ul>
				<li>50 Full-time teachers</li>
				<li>othes follows</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-6">
			<h4>
				Maximum Class Size
			</h4>
			<ul>
				<li>40:1 students to teacher</li>
				<li>40 students per class</li>
			</ul>
		</div>
	</div>
</div>


