<carousel>
  <slide>
    <img src="assets/images/slider1.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/slider2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
</carousel>

<!-- Intro-graphics -->
<div class="row" style="background-color: #333436;">
  <div class="col-xs-12 col-md-3" >
    <div class="box-content">
      <img src="assets\images\icons\013-school.png" class="img-responsive">
      <div>
        <p class="box-heading-1">Since</p>
        <p>Pre-school to 5th std</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="box-content">
      <img src="assets\images\icons\001-certificate.png" class="img-responsive">
      <div>
        <p class="box-heading-1">Awards</p>
        <p>Pre-school to 5th std</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="box-content">
      <img src="assets\images\icons\017-id-card.png" class="img-responsive">
      <div>
        <p class="box-heading-1">Classes till</p>
        <p>Pre-school to 5th std</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="box-content">
      <img src="assets\images\icons\019-football.png" class="img-responsive">
      <div>
        <p class="box-heading-1">Sports Aciibities</p>
        <p>Encourage studends to participate in sports</p>
      </div>
    </div>
  </div>
</div>

<!-- Idealogy -->
<div class="row" style="margin-top : 10px;">
  <div class="col-xs-12 col-md-8">

    <div class="col-xs-12 col-md-4">
      <div class="col-xs-12">
        <img src="assets/images/slider1.jpg" alt="..." class=" img-thumbnail">
      </div>
      <div class="col-xs-12">
        <h2>Strategies</h2>
        <p class="text-muted">
          Our Young Pre classroom is for ages This age group is working on developing their fine and gross motor skills
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="col-xs-12">
        <img src="assets/images/slider1.jpg" alt="..." class=" img-thumbnail">
      </div>
      <div class="col-xs-12">
        <h2>Motivation</h2>
        <p class="text-muted">
          Our Young Pre classroom is for ages This age group is working on developing their fine and gross motor skills
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="col-xs-12">
        <img src="assets/images/slider1.jpg" alt="..." class=" img-thumbnail">
      </div>
      <div class="col-xs-12">
        <h2>Why us? Watch now</h2>
        <p class="text-muted">
          Our Young Pre classroom is for ages This age group is working on developing their fine and gross motor skills
        </p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4" id="menu-list">
    <h2>Working hours</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Monday- Friday</td>
          <td>8 AM to 5 PM</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>8 AM to 12 PM</td>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>Holiday</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Latest event & get-in touch -->
<div class="row">
  <!-- events -->
  <div class="col-xs-12 col-md-8">
    <h3>Latest events</h3>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/slider1.jpg" alt="Photo will follow">
        <div class="caption">
          <h4>Sports Day</h4>
          <p><span class="glyphicon glyphicon-calendar"></span>February 22, 2018</p>
          <p>Celebrated Sports day</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/slider1.jpg" alt="Photo will follow">
        <div class="caption">
          <h4>Sports Day</h4>
          <p><span class="glyphicon glyphicon-calendar"></span>February 22, 2018</p>
          <p>Celebrated Sports day</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/slider1.jpg" alt="Photo will follow">
        <div class="caption">
          <h4>Sports Day</h4>
          <p><span class="glyphicon glyphicon-calendar"></span>February 22, 2018</p>
          <p>Celebrated Sports day</p>
        </div>
      </div>
    </div>


  </div>


  <!--get-in touch-->
  <div class="col-xs-12 col-md-4" style="background-color: #333436; color: white">
    <h3>GET IN TOUCH</h3>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          Address follows here
        </p>
      </div>

      <div class="col-xs-12 col-md-6">
        <p>
          <span class="glyphicon glyphicon-phone-alt"></span>
          +91-9876543210
        </p>
        <p>
          <span class="glyphicon glyphicon-earphone"></span>
          +91-9876543210
        </p>
        <p>
          <span class="glyphicon glyphicon-envelope"></span>
          mailid@gmail.com
        </p>
      </div>
    </div>
  </div>

</div>

